[Unit]
Description="Missing Link controller program"
StartLimitIntervalSec=30
StartLimitBurst=10
Requires=mosquitto.service
Wants=network.target
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
Environment=PYTHONUNBUFFERED=1
Environment=PYTHONPATH=/home/pi/first_contact_sensor_teensie/raspberry_pi/controller
WorkingDirectory=/home/pi/first_contact_sensor_teensie/raspberry_pi/controller
ExecStart=/home/pi/first_contact_sensor_teensie/raspberry_pi/controller/controller.py
Restart=on-failure
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
